<form class="" action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="">Title</label>
  <input type="text" name="[book]title" value="<%= @book.title %>"><br>

  <label for="">Author</label>
  <input type="text" name="[book]author" value="<%= @book.author %>"><br>

  <label for="">Snippet</label>
  <input type="text" name="[book]snippet" value="<%= @book.snippet %>"><br>

  <input type="submit" name="" value="Edit Book">
</form>
