<form class="" action="/books" method="post">
  <label for="">Title</label>
  <input type="text" name="[book]title" value=""><br>

  <label for="">Author</label>
  <input type="text" name="[book]author" value=""><br>

  <label for="">Snippet</label>
  <input type="text" name="[book]snippet" value=""><br>

  <input type="submit" name="" value="Save Book">
</form>
